body {
    margin: 0;
    font-family: roboto, sans-serif
}

.full-page {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    padding: 0px 150px
}

#logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700px;
    display: flex;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

#header-links {
    color: #9fa0a3a5;
    font-size: 18px;
    display: flex;
    list-style-type: none;
    padding: 16px;
    gap: 16px;
}

.description {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    padding: 100px 150px;
    flex: 1;
}

#main-text {
    font-size: 48px;
    font-weight: 800;
    margin: 0
}

#secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding-bottom: 20px;
}

.sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    width: 120px;
    border-radius: 8px;
    padding: 5px 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: 0;
}

.img-top {
    display: flex;
    flex: 1;
    background-color: #9fa0a3a3;
    justify-content: center;
    align-self: center;
    padding: 100px 0px;
    margin: 10px 20px
}

#content-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.random-info {
    display: flex;
    flex-direction: column;
    padding: 10px 0 50px
}

.line-of-content {
    display: flex;
    justify-content: space-evenly;
    padding: 0 150px
}

.ill-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.subtext {
    display: flex;
    max-width: 115px;
    color: #8d8f93;
    font-size: 12px;
}

.empty-box {
    height: 115px;
    width: 115px;
    border-radius: 8px;
    border: 2px solid #3882f6;
    display: flex;
    align-self: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 150px 150px;
    margin: 0 50px
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    margin: 0;
    font-style: italic;
    font-weight: lighter;
}

.quote-author {
    display: flex;
    align-self: flex-end;
    font-weight: bold;
    margin: -5px 0;
}

.call-to-action {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    padding: 50px 100px;
    margin: 100px 150px;
    display: flex;
}

.cta-header {
    margin: 0
}

.cta-info {
    font-weight: lighter;
    margin: 0
}

.cta-button {
    margin-left: auto;
    border: 2px solid white;
    align-self: center;
    padding: 5px
}

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    margin-top: auto;
    padding: 50px 0px;
    justify-content: center;
    font-weight: lighter;
}
